<footer>
    <div class="container">
        <hr>
        <div class="row justify-content-between">
            <div class="col-9 col-md-7 col-lg-4 mb-5 m-lg-0">

                <a class="navbar-brand" href="#">
                    <img src="images/logo-chaski-light.png" width="60%" height="auto">
                </a>


                <p class="light">
                    Neque porro quisquam est, qui dolorem dolor sitamet, consectetur, adipisci.
                </p>


                <ul class="social-list green">

                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>


                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>


                    <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

                </ul>

            </div>
            <div class="col-7 col-sm-6 col-md-4 col-lg-3">

                <ul class="contact-list">

                    <li class="title">Información de contacto</li>


                    <li>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <p>537 Cronin Groves</p>
                    </li>


                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <p><a href="#" class="__cf_email__" data-cfemail="">contacto@chaski.com</a></p>
                    </li>


                    <li>
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <p>633-395-1376</p>
                    </li>

                </ul>

            </div>
            
            <div class="col-7 col-sm-6 col-md-4 col-lg-3 ">

                <ul class="footer-list green px-auto ">

                    <li class="title "> Mas detalles</li>
                    
                    <li>
                        <a href="# ">Políticas de privacidad</a>
                    </li>

                    <li>
                        <a href="# ">Términos & Condiciones</a>
                    </li>

                    <li>
                        <a href="# ">Trabajos</a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="row justify-content-center ">
            <div class="col-12 ">

                <p class="copyright light ">
                    © {{getYear}} <a href="# ">Chaski</a>. Todos los derechos reservados.
                </p>

            </div>
        </div>
    </div>
</footer>